.AUDIO {width:22px;height:22px;background: url(../icons/audio.svg) no-repeat center;}
.CODE {width:22px;height:22px;background: url(../icons/code.svg) no-repeat center;}
.CSV {width:22px;height:22px;background: url(../icons/csv.svg) no-repeat center;}
.DOCX {width:22px;height:22px;background: url(../icons/docx.svg) no-repeat center;}
.ERROR1 {width:22px;height:22px;background: url(../icons/error1.svg) no-repeat center;}
.ERROR2 {width:22px;height:22px;background: url(../icons/error2.svg) no-repeat center;}
.ERROR3 {width:22px;height:22px;background: url(../icons/error3.svg) no-repeat center;}
.EXE {width:22px;height:22px;background: url(../icons/exe.svg) no-repeat center;}
.FOLDER {width:22px;height:22px;background: url(../icons/folder.svg) no-repeat center;}
.FONT {width:22px;height:22px;background: url(../icons/font.svg) no-repeat center;}
.GENERICFILE {width:22px;height:22px;background: url(../icons/genericfile.svg) no-repeat center;}
.HTML {width:22px;height:22px;background: url(../icons/html.svg) no-repeat center;}
.LINK {width:22px;height:22px;background: url(../icons/link.svg) no-repeat center;}
.ONE {width:22px;height:22px;background: url(../icons/one.svg) no-repeat center;}
.PDF {width:22px;height:22px;background: url(../icons/pdf.svg) no-repeat center;}
.PHOTO {width:22px;height:22px;background: url(../icons/photo.svg) no-repeat center;}
.PPTX {width:22px;height:22px;background: url(../icons/pptx.svg) no-repeat center;}
.SHAREDFOLDER {width:22px;height:22px;background: url(../icons/sharedfolder.svg) no-repeat center;}
.TXT {width:22px;height:22px;background: url(../icons/txt.svg) no-repeat center;}
.VIDEO {width:22px;height:22px;background: url(../icons/video.svg) no-repeat center;}
.XLSX {width:22px;height:22px;background: url(../icons/xlsx.svg) no-repeat center;}
.XML {width:22px;height:22px;background: url(../icons/xml.svg) no-repeat center;}
.ZIP {width:22px;height:22px;background: url(../icons/zip.svg) no-repeat center;}